<footer class="footer">
  <div class="container footer-container">
    <img src="/images/img/logo.png" alt="Logo" class="logo-footer-white" />

    <div class="footer-content">
      <ul class="footer-content-list">
        <li>
          <a href="https://g.co/kgs/8emyUUz" target="_blank">
            <img
              src="/images/footer/map.svg"
              width="14px"
              alt="mapa"
              class="footer-icon"
            />Warszawa
          </a>
        </li>
        <li>
          <a href="mailto:contact@web-impuls.com" class="footer-email-link">
            <img
              src="/images/footer/email.svg"
              width="20px"
              alt="email"
              class="footer-icon"
            />
            contact@web-impuls.com
          </a>
        </li>
        <li>
          <a href="tel:+48572245574">
            <img
              src="/images/footer/phone-foot.svg"
              width="20px"
              alt="phone"
              class="footer-icon"
            />+48 572 245 574
          </a>
        </li>
      </ul>
    </div>

    <div class="regulamin">
      <ul class="regulamin-list">
        <li>
          <a href="/terms" class="info-footer">Terms and Conditions</a>
        </li>
        <li>
          <a href="/policy" class="info-footer">Privacy Policy</a>
        </li>
        <li>
          <a href="/cookie" class="info-footer">Cookie Policy</a>
        </li>
      </ul>
    </div>

    <div class="payment-footer">
      <p>
        Web Impuls NIP: 5223251351, REGON: 524650407 Warszawa, Edwarda Habicha
        18 02-495
      </p>
      <div class="card-pey">
        <img
          class="footer-img-pey-1"
          src="/images/footer/payments-1.svg"
          width="38"
          height="38"
          alt="visa"
        />
        <img
          class="footer-img-pey-2"
          src="/images/footer/payments-2.svg"
          width="49"
          height="16"
          alt="visa"
        />
        <img
          class="footer-img-pey-3"
          src="/images/footer/mastercard.svg"
          width="91"
          height="16"
          alt="mastercard"
        />
        <img
          class="footer-img-pey-4"
          src="/images/footer/masterkard.svg"
          width="141"
          height="16"
          alt="mastercard"
        />
      </div>
    </div>

    <div class="call-to-action">
      <span class="call-text">Contact</span>
      <img src="/images/footer/arow.svg" alt="Стрелка" class="arrow-icon" />
    </div>
  </div>
</footer>
