<header>
  <div class="lg-1">
    <a href="/index.html">
      <img src="/images/img/logo.png" alt="Logo" class="logo-header-white">
    </a>
  </div>
  <div class="cent-head">
    <nav class="header-menu">
      <a class="header-menu-link" href="/" data-translate-key="home">Головна</a>
      <a class="header-menu-link" href="/o-nas" data-translate-key="about">Про Нас</a>
      <a class="header-menu-link" href="/services" data-translate-key="services">Послуги</a>
      <a class="header-menu-link" href="/price" data-translate-key="prices">Ціни</a>
      <a class="header-menu-link" href="/contact" data-translate-key="contact">Контакт</a>
      <a class="header-menu-link" href="/blog/blog.html"><i class="fas fa-feather-alt"></i>Blog</a>
    </nav>
    <div class="header-right-content">
      <a href="https://facebook.com" target="_blank" class="social-icon">
        <img src="/images/swg/facebook.svg" alt="Facebook">
      </a>
      <a href="https://linkedin.com" target="_blank" class="social-icon">
        <img src="/images/swg/linkedin.png" alt="LinkedIn">
      </a>
      <a href="https://github.com" target="_blank" class="social-icon">
        <img src="/images/swg/git.svg" alt="GitHub">
      </a>
      <div class="theme-toggle">
        <div class="theme-slider"></div>
        <div class="theme-icon light">
          <img src="/images/swg/light.webp" alt="Light Mode">
        </div>
        <div class="theme-icon dark">
          <img src="/images/swg/moon.svg" alt="Dark Mode">
        </div>
      </div>
      <div class="language-select">
        <img src="/images/swg/ua.png" alt="UA Flag" class="language-flag selected-language-flag">
        <span class="selected-language">UA</span>
        <i class="fas fa-chevron-down selected-language-icon"></i>
        <div class="dropdown">
          <div class="dropdown-option" data-lang="en">
            <img src="/images/swg/en.png" alt="EN Flag" class="language-flag">
            EN
          </div>
          <div class="dropdown-option" data-lang="pl">
            <img src="/images/swg/pl.png" alt="PL Flag" class="language-flag">
            PL
          </div>
          <div class="dropdown-option" data-lang="ua">
            <img src="/images/swg/ua.png" alt="UA Flag" class="language-flag">
            UA
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="burger-menu" id="burger-menu">
    <img src="/images/swg/burger.png" alt="Menu" id="burger-icon">
    <img src="/images/swg/Button_Close-Menu.svg" alt="Close Menu" id="close-icon" style="display: none;">
  </div>
</header>
<div class="mobile-menu" id="mobile-menu">
  <nav class="mobile-nav">
    <a class="header-menu-link" href="/" data-translate-key="home">Головна</a>
    <a class="header-menu-link" href="/o-nas" data-translate-key="about">Про Нас</a>
    <a class="header-menu-link" href="/services" data-translate-key="services">Послуги</a>
    <a class="header-menu-link" href="/price" data-translate-key="prices">Ціни </a>
    <a class="header-menu-link" href="/blog/blog.html"><i class="fas fa-feather-alt"></i>Blog</a>
  </nav>
  <div class="mobile-mini-header">
    <div class="mobile-right-content">
      <a href="https://facebook.com" target="_blank" class="social-icon">
        <img src="/images/swg/facebook.svg" alt="Facebook">
      </a>
      <a href="https://linkedin.com" target="_blank" class="social-icon">
        <img src="/images/swg/linkedln.png" alt="LinkedIn">
      </a>
      <a href="https://github.com" target="_blank" class="social-icon">
        <img src="/images/swg/git.svg" alt="GitHub">
      </a>
      <div class="theme-toggle">
        <div class="theme-slider"></div>
        <div class="theme-icon light">
          <img src="/images/swg/light.webp" alt="Light Mode">
        </div>
        <div class="theme-icon dark">
          <img src="/images/swg/moon.svg" alt="Dark Mode">
        </div>
      </div>
      <div class="language-select">
        <img src="/images/swg/ua.png" alt="UA Flag" class="language-flag selected-language-flag">
        <span class="selected-language">UA</span>
        <i class="fas fa-chevron-down selected-language-icon"></i>
        <div class="dropdown">
          <div class="dropdown-option" data-lang="en">
            <img src="/images/swg/en.png" alt="EN Flag" class="language-flag">
            EN
          </div>
          <div class="dropdown-option" data-lang="pl">
            <img src="/images/swg/pl.png" alt="PL Flag" class="language-flag">
            PL
          </div>
          <div class="dropdown-option" data-lang="ua">
            <img src="/images/swg/ua.png" alt="UA Flag" class="language-flag">
            UA
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="overlay" id="overlay"></div>
