.logo-header-white {
    display: inline-block;
    animation: logoAnimation 4s ease-in-out infinite; 
  }
  
  
  @keyframes logoAnimation {
    0% {
      transform: scale(1); 
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1); 
    }
  }




