.chat-wrapper {
  position: fixed;
  bottom: 45px;
  right: 15px;
  z-index: 10;
}


.chat-online-bar {
  background-color: #007bff;
  padding: 12px 15px 10px 60px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  transition: width 0.4s ease, background-color 0.3s ease;
  width: 190px;
  z-index: 2;
}
.chat-online-bar.no-animate {
  transition: none;
}
.chat-online-bar:hover {
  background-color: #228ff8;
}

.chat-character {
  position: absolute;
  left: -35px;
  bottom: 0px;
  width: 90px;
  height: auto;
  z-index: 2;
}

.chat-text {
  font-size: 16px;
  color: white;
}

.chat-subtext {
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.chat-menu {
  position: absolute;
  bottom: calc(100% + 10px);
  right: 0;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 240px;
  transform: translateY(30px);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.4s ease, opacity 0.4s ease;
  z-index: 1;
}

.chat-menu-item {
  display: flex;
  align-items: center;
  
  gap: 10px;
  padding: 12px 15px;
  border-radius: 10px;
  background-color: white;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.chat-menu-item:hover {
  background-color: #f1f5fb;
}

.chat-icon {
  width: 24px;
  height: 24px;
}

iframe {
  display: none; 
  width: 100%;
  height: 100vh !important;
  border: none;
  position: fixed;
  top: 0;
  right: 0; 
  z-index: 10000;
}


.chat-response-time {
  display: block;
  font-size: 12px;
  color: #777;
  margin-top: 4px;
  line-height: 1.4;
}

@media (min-width: 769px) {

  .chat-online-bar {
    padding: 15px 20px 10px 60px;
    border-radius: 15px;
    width: 240px;
  }

  .chat-character {
    width: 100px;
    left: -45px;
  }

  .chat-text {
    font-size: 18px;
  }

  .chat-menu {
    position: absolute;
    bottom: calc(100% + 5px);
    right: 0;
    transform: translateY(30px);
    opacity: 0;
    pointer-events: none;
    z-index: 1;
  }

  .chat-menu-item {
    padding: 10px 15px;
    font-size: 16px;
  }
}
