.multibutton {
  position: fixed;
  right: 30px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 9;
  transition: all 0.2s ease;
}

.multibutton__container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.multibutton__info {
  font-size: 18px;
  color: #066fe2;
  white-space: nowrap;
  font-family: "FuturaPT2", sans-serif;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.multibutton.active .multibutton__info {
  opacity: 0;
}

.multibutton__button {
  width: 50px;
  height: 50px;
  background: #046fe2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease, background 0.3s ease;
  animation: impulse 2.5s infinite ease-in-out;
}

.multibutton__button:hover {
  transform: scale(1.1);
  background: #0585ff;
}

@keyframes impulse {
  0% {
    box-shadow: 0 0 0 0 rgba(6, 111, 226, 0.7), 0 0 0 0 rgba(5, 133, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(6, 111, 226, 0.4),
      0 0 0 20px rgba(5, 133, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(6, 111, 226, 0), 0 0 0 30px rgba(5, 133, 255, 0);
  }
}

.multibutton__button img {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 1;
}


.multibutton__list {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0;
  bottom: 80px;
  opacity: 0;
  transition: opacity 0.1s ease; /* Укороченный переход для общего контейнера */
}

.multibutton.active .multibutton__list {
  opacity: 1;
  display: flex;
}

.multibutton__item {
  margin: 8px 0;
  transform: translateY(20px); 
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.multibutton.active .multibutton__item {
  transform: translateY(0); 
  opacity: 1;
}

.multibutton:not(.active) .multibutton__item {
  transform: translateY(-20px); 
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.multibutton.active .multibutton__item:nth-child(1) {
  transition-delay: 0.4s; 
}
.multibutton.active .multibutton__item:nth-child(2) {
  transition-delay: 0.3s;
}
.multibutton.active .multibutton__item:nth-child(3) {
  transition-delay: 0.2s;
}
.multibutton.active .multibutton__item:nth-child(4) {
  transition-delay: 0.1s; 
}


.multibutton:not(.active) .multibutton__item:nth-child(1) {
  transition-delay: 0.1s; 
}
.multibutton:not(.active) .multibutton__item:nth-child(2) {
  transition-delay: 0.2s;
}
.multibutton:not(.active) .multibutton__item:nth-child(3) {
  transition-delay: 0.3s;
}
.multibutton:not(.active) .multibutton__item:nth-child(4) {
  transition-delay: 0.4s; 
}


.multibutton__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #046fe2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.multibutton__item a:hover {
  transform: scale(1.1);
}

.multibutton__item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.chat-menu-item.telegram {
  background: #046fe2;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
