.price {
  background: #079bfe url("/images/pricing-img/Illustration.svg");
  background-repeat: no-repeat;
  background-position: end;
  background-size: 250px auto;
  padding: 80px 0;
}
.pricing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 60px;
  column-gap: 30px;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 60px;
}
.line {
  flex-grow: 1;
  height: 2px;
  background-color: #228ff8;
  max-width: 40px;
}
.title-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}
.title-container-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}
.duo-row {
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
}
.duo-col-text h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
}
.pricing-subtitle {
  font-size: 18px;
  font-weight: bold;
  font-family: "FuturaPT2", sans-serif;
  color: #228ff8;
  text-transform: uppercase;
  text-align: left;
}
.pricing-box,
.pricing-box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.price-title {
  position: relative;
  font-family: "FuturaPT2", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.06em;
  color: #fff;
  text-align: center;
  top: 40px;
}

.pricing-grid {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding-top: 60px;
}

.pricing-text {
  flex: 1 1 100%;
}

.pricing-text h2 {
  font-size: 0.85rem;
  font-weight: bold;
  font-family: "FuturaPT2", sans-serif;
  color: #228ff8;
  text-transform: uppercase;
}

/* .pricing-text h2::before {
  content: "";
  display: block;
  width: 2.5rem;
  height: 0.125rem;
  background-color: #228ff8;
  position: absolute;
  top: 50%;
  left: -3rem;

  transform: translateY(-50%);
} */

.pricing-text p {
  font-size: 14px;
  color: #222;
  margin-top: 8px;
  line-height: 1.6;
}

.pricing-image {
  flex: 1 1 100%;
}

.pricing-image img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto 40px;
}

.pricing-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  border-radius: 20px;
  padding: 30px;
  background: #fff;
  box-shadow: -4px -2px 12px rgba(255, 255, 255, 0.8),
    4px 2px 12px rgba(136, 165, 191, 0.48);
  margin-bottom: 40px;
}

.pricing-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: space-between;
}

.pricing-items li {
  flex: 1 1 auto;
  max-width: 180px;
  text-align: left;
}

.items-numbers {
  font-weight: 800;
  font-family: "FuturaPT2", sans-serif;
  font-size: 20px;
  color: #228ff8;
  margin-bottom: 6px;
}

.items-headings {
  font-weight: 800;
  font-family: "FuturaPT2", sans-serif;
  font-size: 16px;
  color: #0c0c0c;
  margin-bottom: 4px;
}

.items-text {
  font-size: 12px;
  line-height: 1.5;
  color: #0c0c0c;
  margin-bottom: 12px;
}

.fourth-sec {
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.pricing-img {
  width: 200px;
  max-width: 100%;
}

.pricing-content {
  text-align: center;
}

.pricing-box h2 {
  font-size: 18px;
  font-weight: 700;
  color: #348dfc;
  margin-bottom: 16px;
  position: relative;
}

.pricing-content h2 {
  font-size: 0.85rem;
  font-weight: bold;
  font-family: "FuturaPT2", sans-serif;
  color: #228ff8;
  text-transform: uppercase;
  position: relative;
  left: 3rem;
}

.pricing-content h2::before {
  content: "";
  display: block;
  width: 2.5rem;
  height: 0.125rem;
  background-color: #228ff8;
  position: absolute;
  top: 50%;
  left: 1rem;

  transform: translateY(-50%);
}

.pricing-content p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: #0c0c0c;
  margin-top: 8px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .price-title {
    font-family: "FuturaPT2", sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 130%;
    color: #fff;
  }
  .duo-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .pricing-grid {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    text-align: left;
  }
  .pricing-subtitle {
    font-size: 20px;
  }
  .items-numbers {
    font-weight: 700;
    font-family: "FuturaPT2", sans-serif;
    font-size: 36px;
    color: #228ff8;
    margin-bottom: 6px;
  }
  .title-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Відстань між лінією та текстом */
    margin-bottom: 20px;
  }
  .title-container-2 {
    display: flex;
    align-items: center;
    gap: 10px; /* Відстань між лінією та текстом */
    margin-bottom: 80px;
  }
  .line {
    max-width: 100px; /* Довжина лінії */
  }
  .pricing {
    width: 500px;
  }
  .pricing-text {
    flex: 1 1 50%;
  }

  .pricing-text h2 {
    font-size: 24px;
  }

  .pricing-text h2 span::before {
    width: 40px;
  }

  .pricing-text p {
    font-size: 16px;
    margin-top: 10px;
  }

  .pricing-image {
    flex: 1 1 45%;
  }

  .pricing-image img {
    max-width: 60%;
    margin-bottom: 60px;
  }

  .pricing-items {
    border-radius: 28px;
    padding: 24px;
    box-shadow: -6px -2px 16px rgba(255, 255, 255, 0.8),
      6px 2px 16px rgba(136, 165, 191, 0.48);
    margin-bottom: 80px;
  }

  .pricing-items ul {
    gap: 30px;
  }

  .pricing-items li {
    max-width: 180px;
    text-align: left;
  }

  .items-headings {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .items-text {
    font-size: 12px;
    margin-bottom: 12px;
  }

  .fourth-sec {
    padding: 40px 15px;
    gap: 60px;
  }

  .pricing-box {
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .pricing-box-2 {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .pricing-img {
    width: 300px;
    margin-right: 20px;
  }

  .pricing-content {
    text-align: left;
  }

  .pricing-box h2,
  .pricing-box-2 h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .pricing-box h2 span,
  .pricing-box-2 h2 span::before {
    width: 40px;
  }

  .pricing-content p {
    font-size: 14px;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .pricing-items {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .pricing-items ul {
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
  }

  .pricing-items li {
    max-width: 100%;
  }

  .items-numbers {
    font-size: 16px;
  }

  .items-headings {
    font-size: 14px;
  }

  .items-text {
    font-size: 12px;
  }
}

.duo-section {
  padding: 20px;
}

.duo-col-text {
  max-width: 600px;
}

.duo-col-text h2 {
  font-weight: bold;
  font-family: "FuturaPT2", sans-serif;
  color: #228ff8;
  text-transform: uppercase;
  text-align: left;
}

.duo-col-text p {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #333;
}

.duo-col-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 768px) {
  .duo-row {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .row-first .duo-col-text {
    order: 1;
  }
  .row-first .duo-col-image {
    order: 2;
  }

  .row-second .duo-col-image {
    order: 1;
  }
  .row-second .duo-col-text {
    order: 2;
  }

  .duo-col-text {
    max-width: 45%;
  }
  .duo-col-image {
    max-width: 45%;
    text-align: right;
  }

  .duo-col-text h2 {
    font-size: 1.2rem;
  }
  .duo-col-text p {
    font-size: 1rem;
  }
}

.contact-section h3 {
  text-align: left;
  font-weight: bold;
  font-family: "FuturaPT2", sans-serif;
  color: #228ff8;
  text-transform: uppercase;
}

.seo-text-section {
  padding: 40px 20px;

  color: #333;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

.seo-text-section h2 {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

.seo-text-section p {
  font-size: 16px;
  margin-bottom: 16px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

@media (min-width: 768px) {
  .seo-text-section h2 {
    font-size: 26px;
  }

  .seo-text-section p {
    font-size: 17px;
  }
}

@media (min-width: 1024px) {
  .seo-text-section {
    padding: 60px 40px;
  }

  .seo-text-section h2 {
    font-size: 30px;
  }

  .seo-text-section p {
    font-size: 18px;
  }
}
